.input-groups-dados{
    display: flex;
    height: 100px;
}

.input-foto-perfil{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: red;
}

.dados{
    display: flex;
}

.input{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.input-idade{
    width: 20%;
}