.titulo-login{
    font: 700 40px Ubuntu;
    color: white;
    display: flex;
    justify-content: space-between;
}

.title{
    font: 400 25px Ubuntu;
    color: white;
    font-weight: 600;
    text-align: center;
}

.main-dados{
    max-width: 780px;
    width: 100%;
    background-color: #213242;
    border-radius: 10px;
    padding: 30px;
}

hr{
    border: dashed 3px #E3A92B;
    margin-bottom: 40px;
}

.input-groups-dados{
    display: flex;
    height: 100px;
    margin-bottom: 40px;
}

body .input-groups-dados + .input-groups-dados{
    margin-bottom: 0;
}

.input-foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    background-color: red;
}

.dados{
    display: flex;
}

.input{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.input label{
    color: white;
    font-size: 15px;
}

.input input{
    padding: 5px;
}

.input-idade{
    width: 20%;
}

.diminui{
    width: 60px;
}

.div-btn-crud{
    justify-content: flex-end;
}

.add{
    display: flex;
    padding-left: 20px;
}

.add-btn{
    width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.add-title{
    position: absolute;
    top: -33px;
    left: 6px;
    font: 500 30px Ubuntu;
}

.add-description{
    color: rgb(196, 191, 191);
}