.main-perfil{
    max-width: 1260px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-crud{
    min-height: 300px;
    width: 600px;
    padding: 20px;
    background-color: #213242;
    border-radius: 20px;
    border-top: solid 3px #E3A92B;
    border-bottom: solid 3px #E3A92B;
}

.botoes{
    display: flex;
    margin-right: 270px;
    position: relative;
    margin-bottom: -3px;
}

.aba{
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    width: 120px;
    padding: 10px;
    background-color: #213242;
    font: 500 18px Ubuntu;
    color: white;
}

.border-top{
    border-top: solid 2px #E3A92B;
}

.group-1{
    display: flex;
}

.input-groups{
    display: flex;
    flex-direction: column;
}

.input-groups label{
    color: white;
}

.tira-bottom{
    margin-left: 10px;
    margin-bottom: 10px !important;
}

.pequeno{
    width: 50px;
}

.btn-mais-materia{
    margin-left: 10px;
    font: 550 15px Ubuntu;
}

.header-table{
    display: flex;
}

.column-table{
    font: 700 18px Ubuntu;
    min-width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 2px;
}

