.main-home {
    max-width: 1260px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.box-notas-home{
    padding: 20px 0;
    background-color: #213242;
    border-radius: 20px;
    border-top: solid 3px #E3A92B;
    border-bottom: solid 3px #E3A92B;
    display: flex;
    flex-direction: column;
}

.line, .notes{
    display: flex;
}

.line .title, .notes .line{
    width: 200px;
}

.notes .line, .plus{
    color: white;
    font: 300 15px Ubuntu;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acima, .baixo, .medio {
    border-radius: 15px;
    width: 10px;
    height: 10px;
    background-color: green;
    position: relative;
    right: 10px;
}

.baixo{
    background-color: red !important;
}

.medio{
    background-color: yellow !important;
}

.line div + div{
    width: 100px;
}

.meio{
    border-left: solid #E3A92B 1px;
    border-right: solid #E3A92B 1px;
}

.informacao{
    font: 400 15px Ubuntu;
    display: flex;
    height: 30px;
    align-items: center;
}

.informacao div{
    margin-right: 10px;
}

.plus {
    cursor: pointer;
    padding-right: 15px;
    font-size: 20px;
    position: relative;
    left: 90px;
}

.input-alert {
    background-color: rgb(202, 202, 202);
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}

.label-div{
    font: 300 15px Ubuntu;
}

.title-alert{
    font: 700 25px Ubuntu;
    margin-bottom: 30px;
}

.botao-alert{
    margin-left: -34px;
    margin-top: -11px;
}
