.home{
    padding: 10px 20px 0 20px;
    background-color: #364758;
}

.home-title{
    display: flex;
    justify-content: space-around;
    color: white;
    font: 500 25px Ubuntu;
    padding: 15px 0;
}

.home-content{
    display: flex;
    justify-content: space-around;
    color: white;
    font: 300 20px Ubuntu;
    padding: 20px 0 5px 0;
    border-bottom: 2px solid #CD9A11
}

.materia{
    width: 15%;
    align-items: flex-start;
}

.space{
    width: 100px;
}

.add-btn{
    width: 20px;
    height: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.add-title{
    position: absolute;
    top: -23px;
    left: 4px;
    font: 500 20px Ubuntu;
}

.footer{
    text-align: center;
    font: 300 12px Ubuntu;
    color: rgb(196, 191, 191);
    background-color: #213242;
    padding: 20px;
}