.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 20px 0 100px;
    background-color: #213242;
}

.header-titulo{
    color: white;
}

.header-btn{
    cursor: pointer;
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #213242;
    border-radius: 5px;
    font: 300 15px Ubuntu;
    color: rgb(196, 191, 191);
}

.header-btn:hover{
    color: white;
}

.avatar {
    display: flex;
    align-items: center;
    width: 175px;
    justify-content: space-evenly;
}